#logoId {
    color: aqua;
    padding: 10px;
    /* padding-bottom: 0px; */
    border: 5px solid;
    margin-right: 15px;
    margin-top: 15px;
}

.helper-baloon {
    margin-left: 6em;
    position: absolute;
}

.margin-around-10x {
    margin: 10px;
}

span.gap {
    width: 57%;
}

.zoom {
    /* padding: 50px; */
    transition: transform .2s;
    /* margin: 0 auto; */
}

.zoom:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}