<div class="card text-center">
  <div class="card-body">
    <div class="row" style="padding-left: 3.5em;">
      <div class="card text-center zoom" style="width: 18rem;" ng-repeat=" item in vm.socialMediaList">
        <div class="card-body" ng-hide="item.linkedPage.id">
          <div>
            <i class="zmdi {{item.icon}} zmdi-hc-3x"></i>
            <i class="helper-baloon zmdi zmdi-help-outline zmdi-hc-1x" data-toggle="tooltip" data-placement="top"
              title="{{item.link}}"></i>
          </div>
          <h5 class="card-title">{{item.name}}</h5>
          <button id="{{item.id}}" class="btn btn-primary margin-around-10x" data-toggle="modal" data-target="#exampleModal"
            ng-click="vm.openModalForAddSocialMedia(item)">Adicionar</button>
        </div>
        <div ng-class="{'card-linked-twitter':item.channel_key=='twitter',
        'card-linked-facebook':item.channel_key=='facebook',
        'card-linked-instagram':item.channel_key=='instagram',
        'card-linked-pinterest':item.channel_key=='pinterest',
        'card-linked-youtube':item.channel_key=='youtube'}" ng-show="item.linkedPage.id">
          <h6>{{item.linkedPage.name}}</h6>
          <div>
            <i class="zmdi {{item.icon}} zmdi-hc-4x"></i>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<add-modal></add-modal>